# Scripting Text (.txt) Files into Excel (.xlsx) Files With Python

### Creating a Scripting Function based on the data

In [1]:
import os
import openpyxl

def process_text_file(file_path):
    workbook = openpyxl.Workbook()
    worksheet = workbook.active
    worksheet.title = "Fncn Lines"
    column_titles = ["WaldFcns", "Function", "Standard Error", "z", "Prob. |z|>Z*", "95% Confidence Interval"]

    #Column titles to the first row of the worksheet
    for col_num, title in enumerate(column_titles, start=1):
        worksheet.cell(row=1, column=col_num).value = title

    #Opening the file and reading its contents
    with open(file_path, "r") as file:
        
        row_num = 2
        
        for line in file:
            if "Fncn(1)" in line or "Fncn(2)" in line or "Fncn(3)" in line:
                line_data = [cell.strip() for cell in line.split(" ") if cell.strip()]
                col_num = 1
                for cell_data in line_data:
                    worksheet.cell(row=row_num, column=col_num).value = cell_data
                    col_num += 1
                    
                row_num += 1

    #Saving the workbook to a file
    file_name = os.path.splitext(os.path.basename(file_path))[0]
    excel_file_path = os.path.join("output_folder", file_name + ".xlsx")
    workbook.save(excel_file_path)

### Using the Function to scrap data

In [5]:
# Specify the path to the folder
folder_path = input("File path: ")    # "C:/Users/twumi/New_GA/Whitehead"

output_folder = "output_folder"
if not os.path.exists(output_folder):
    os.makedirs(output_folder)

# Iterate over each file in the folder
for file_name in os.listdir(folder_path):
    if file_name.endswith(".txt"):
        file_path = os.path.join(folder_path, file_name)
        process_text_file(file_path)

print("\nDone!")

File path:  C:/Users/twumi/New_GA/Whitehead

Done!

### Merging the Files into one

In [6]:
import pandas as pd

output_folder = "output_folder"

# All the Excel files in the folder
excel_files = [file for file in os.listdir(output_folder) if file.endswith(".xlsx")]

# Creating a DataFrame to store the merged data
merged_data = pd.DataFrame(columns=["Dataset Name", "Value1", "Value2", "Value3", "Value4", "Value5", "Value6", "Value7"])

dataframes = []

for excel_file in excel_files:
    dataset_name = os.path.splitext(excel_file)[0]

    file_path = os.path.join(output_folder, excel_file)
    df = pd.read_excel(file_path)
    
    value1 = df.iloc[0, 1]
    value2 = df.iloc[0, 2]
    value3 = df.iloc[1, 1]
    value4 = df.iloc[1, 2]
    value5 = df.iloc[3, 1]
    value6 = df.iloc[3, 2]
    value7 = df.iloc[5, 1]
    value8 = df.iloc[5, 2]
    
    dataframes.append({"Dataset Name": dataset_name, 
                              "Value1": value1, 
                              "Value2": value2, 
                              "Value3": value3, 
                              "Value4": value4, 
                              "Value5": value5, 
                              "Value6": value6,
                              "Value7": value7,
                              "Value8": value8})

merged_data = pd.DataFrame(dataframes)

merged_data.head()

,Dataset Name,Value1,Value2,Value3,Value4,Value5,Value6,Value7,Value8
0,Alberini A,197.244***,16.51999,219.942***,23.71971,204.672***,27.47831,202.376***,19.54623
1,Alberini B,58.0359***,5.78517,96.3604***,9.46433,41.5079***,5.18096,80.4237***,7.11431
2,Alberini C,61.9924***,8.0487,114.162***,17.73995,48.7613***,12.91042,92.9391***,13.53409
3,Alolayan A,1592.34***,211.8248,2115.70***,293.557,1134.08***,245.6943,1842.25***,233.4662
4,Alolayan B,1697.77***,226.0892,2221.11***,319.5972,1255.41***,267.4232,1936.55***,256.1233

### Removing asterisks from the DataFrame

In [7]:
for column in merged_data.columns:
    merged_data[column] = merged_data[column].astype(str).str.replace("*", "")

# Saving the DataFrame into an Excel file
merged_data.to_excel("script_data.xlsx", index=False)

print("Done!")
print("Saved to 'script_data.xlsx'")

Done!
Saved to 'script_data.xlsx'